{
  "extends": "airbnb",
  "plugins": [ "jest" ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "linebreak-style": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
}